In [83]:
import pandas as pd
import numpy as np

In [84]:
pen=pd.read_csv("https://raw.githubusercontent.com/slmsshk/DataSet/main/penguins.csv")

In [113]:
pen

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [119]:
df=pd.DataFrame(pen)
df=df.dropna()

In [115]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,2],df.iloc[:,3],df.iloc[:,4],df.iloc[:,5])

F_onewayResult(statistic=8727.000884974641, pvalue=0.0)